.alerts {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 6px;
    padding: 6px;
    z-index: 1001;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 36px;
    background: var(--pal-fg);
    color: var(--pal-bg);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 14px;
    animation: alert-timeline 3s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    transform-origin: 50% 0%;
}

@keyframes alert-timeline {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-150%);
    }
}