@import url("https://fonts.googleapis.com/css2?family=3DJetBrains+Mono:ital,wght@0,100..800;1,100..800&family=3DLato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=3DOpen+Sans:ital,wght@0,300..800;1,300..800&family=3DRoboto+Mono:ital,wght@0,100..700;1,100..700&family=3DRoboto:ital,wght@0,100..900;1,100..900&family=3DSource+Sans+3:ital,wght@0,200..900;1,200..900&display=3Dswap");
* {
    --font-sans-serif: 'Open Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --font-monospace: 'Roboto Mono', 'JetBrains Mono', monospace;
}